[submodule "output"]
	path = output
	url = https://github.com/sholok404/sholok404.github.io.git
	branch = master
[submodule "sholok404.github.io"]
	path = sholok404.github.io
	url = https://github.com/sholok404/sholok404.github.io.git
